@use "../assets/styles/variables/colors";

.nav-container {
  padding: 5px 10px;
  background-color: colors.$primary;
  color: colors.$white;

  > .logo-block {
    display: flex;
    margin: auto 0;

    > .text {
      margin: auto 20px;
      font-size: large;
      font-weight: bold;
    }
  }

  > .user-block {
    display: flex;
    justify-content: space-between;

    > .buttons {
      justify-content: space-around;
    }

    > .icons {
      display: flex;

      > div {
        margin: auto 5px;
      }
    }
  }
}

.header-container {
  background-image: url(../assets/images/header-image.png);
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header-text {
    max-width: 40%;
    background: colors.$dark-transparent;
    border-radius: 10px;
    padding: 20px;
    color: colors.$white;
  }
}