@use "../variables/colors";

.btn {
  border-radius: 5px;
  border: none;
  outline: none;
  margin: auto 10px;

  &__primary {
    @extend .btn;
    background-color: colors.$primary;
    color: colors.$white;

    &:hover {
      background-color: colors.$light;
      color: colors.$primary;
    }
  }

  &__secondary {
    @extend .btn;
    background-color: colors.$secondary;
    color: colors.$white;

    &:hover {
      background-color: colors.$light;
      color: colors.$primary;
    }
  }

  &__info {
    @extend .btn;
    background-color: colors.$info;
    color: colors.$white;
  }

  &__dark {
    @extend .btn;
    background-color: colors.$dark;
    color: colors.$white;
  }

  &__light {
    @extend .btn;
    background-color: colors.$light;
    color: colors.$dark;
  }
}