@import "../patterns/colors";

$primary: $eerie-black;
$secondary: $rifle-green;
$info: $misty-moss;
$dark: #111;
$dark-transparent: #11111170;
$light: $eggshell;
$complementary: $green-yellow-crayola;
$white: #fff;
